<a href="https://colab.research.google.com/github/chohyungrae/Machine-Learning-Deep-Learning-Code-Learning/blob/master/Google_Colab%EC%97%90%EC%84%9C_Git%EC%9D%84_%EC%82%AC%EC%9A%A9%ED%95%98%EB%8A%94_%EB%B0%A9%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 텐서플러워2.0설치   !pip install tensorflow==2.0.0-rc1
# 텐서플로워설치1.15.0-rcl
!pip install tensorflow==1.15.0-rc1

In [5]:
#그 후, 런타임 - 런타임 다시 시작을 눌러 런타임을 다시 실행시키면 Tensorflow 1.15.0-rc1설치된 것을 확인
import tensorflow as tf
print(tf.__version__)

1.15.0-rc1

In [6]:
# PyTorch 사용하기

import torch
import torchvision
import torchtext
print(torch.__version__)

1.6.0+cu101

In [ ]:
# 구글드라이브와 연동방법

from google.colab import auth
auth.authenticate_user()

from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

**구글드라이브에 대하여: **

학생의 경우 구글 GSuite 서비스로 구글 드라이브를 무제한으로 활용이 가능하다.

> 구글콜랩 공식 홈페이지; https://colab.research.google.com/notebooks/welcome.ipynb

In [ ]:
# 참조사이트; https://medium.com/@rahul.metangale/google-colaboratory-cheat-sheet-24b99813b0f0
# GitHub 저장소 복제 방법(colab 임시 저장소에 github 저장소를 복제한다)
# ! git clone <GitHub repo url> 
! git clone https://github.com/nbei/Deep-Flow-Guided-Video-Inpainting.git

Cloning into 'Deep-Flow-Guided-Video-Inpainting'...
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (6/6), done.
remote: Total 285 (delta 0), reused 1 (delta 0), pack-reused 279
Receiving objects: 100% (285/285), 47.04 MiB | 16.99 MiB/s, done.
Resolving deltas: 100% (120/120), done.

In [ ]:
#디렉토리에 CD를 넣기
#% cd <폴더 이름>

% cd Deep-Flow-Guided-Video-Inpainting

/content/Deep-Flow-Guided-Video-Inpainting/Deep-Flow-Guided-Video-Inpainting

In [ ]:
#폴더의 내용을 보려면 다음 명령을 실행
! ls

dataset  docker  install_scripts.sh  models	requirements.txt  utils
demo	 gif	 LICENSE	     README.md	tools

In [ ]:
#루트에 있는 데이터 읽기

!cd Deep-Flow-Guided-Video-Inpainting/dataset; ls-al;

/bin/bash: line 0: cd: Deep-Flow-Guided-Video-Inpainting/dataset: No such file or directory
/bin/bash: ls-al: command not found

In [ ]:
# 파일을 다운로드하려면 다음 명령을 실행
# ! wget <파일 경로>
! wget ! wget https://s3-us-west-1.amazonaws.com/udacity-aind/dog-project/dogImages.zip

In [13]:
#폴더생성
#! mkdir <폴더 이름>
! mkdir<artjow>

/bin/bash: -c: line 0: syntax error near unexpected token `newline'
/bin/bash: -c: line 0: ` mkdir<artjow>'

In [19]:
# 파일 업로드

from google.colab import files
uploaded = files.upload()

/bin/bash: -c: line 0: syntax error near unexpected token `newline'
/bin/bash: -c: line 0: ` rm -rf<artjow>'

Saving 2.jpg to 2.jpg

In [21]:
# 업로드한 단일 파일 삭제

!rm 2.jpg

rm: cannot remove '2.jpg': No such file or directory

In [25]:
#전체 폴더 또는 하위 폴더 또는 파일을 삭제하는 경우
#!rm -rf <folder_name>
!rm -rf <artjow>

/bin/bash: -c: line 0: syntax error near unexpected token `newline'
/bin/bash: -c: line 0: `rm -rf <artjow>'

## **Google Colab에서 Git을 사용하는 방법**

>저장소를 복제하고 저장된 Excel 파일을로드하는 예입니다.

1. git이 컴퓨터에 설치되어 있다면 !를 사용하여 셸 명령을 호출 할 수 있습니다.
2. git 저장소를 복제하려면 다음을 수행하십시오.

   !git clone https://github.com/fastai/courses.git

In [ ]:
#개인 저장소를 복제하려는 경우 가장 빠른 방법은 다음과 같습니다.
#!git clone https://username:password@github.com/username/repository.git

!git clone https://github.com/chohyungrae/-AI-Peer-school-

Cloning into '-AI-Peer-school-'...
remote: Enumerating objects: 69, done.
remote: Counting objects: 100% (69/69), done.
remote: Compressing objects: 100% (67/67), done.
remote: Total 171 (delta 20), reused 0 (delta 0), pack-reused 102
Receiving objects: 100% (171/171), 41.07 MiB | 17.15 MiB/s, done.
Resolving deltas: 100% (56/56), done.

In [ ]:
!pip install -q xlrd
!git clone https://github.com/fastai/courses.git

Cloning into 'courses'...
remote: Enumerating objects: 769, done.
remote: Total 769 (delta 0), reused 0 (delta 0), pack-reused 769
Receiving objects: 100% (769/769), 23.06 MiB | 16.14 MiB/s, done.
Resolving deltas: 100% (409/409), done.

In [ ]:
# Files from the cloned git repository.
!ls courses/deeplearning1/excel

collab_filter.xlsx  entropy_example.xlsx  layers_example.xlsx
conv-example.xlsx   graddesc.xlsm

In [ ]:
import pandas as pd
df = pd.read_excel('courses/deeplearning1/excel/layers_example.xlsx')
df

    Unnamed: 0                  x1        x2  ...        y2  Unnamed: 8  Unnamed: 9
0          NaN                   2  3.000000  ...  1.000000         NaN         NaN
1          NaN                 NaN       NaN  ...       NaN         NaN         NaN
2          NaN           weights 1       NaN  ...       NaN         NaN         NaN
3          NaN             1.77752 -0.056013  ...       NaN         NaN    0.666667
4          NaN             0.58263 -0.153056  ...       NaN         NaN         NaN
5          NaN            0.385083  0.402703  ...       NaN         NaN         NaN
6          NaN                 NaN       NaN  ...       NaN         NaN         NaN
7          NaN       activations 1       NaN  ...       NaN         NaN         NaN
8          NaN             5.68802 -0.168491  ...       NaN         NaN         NaN
9          NaN             5.68802  0.000000  ...       NaN         NaN         NaN
10         NaN                 NaN       NaN  ...       NaN         NaN         NaN
11         NaN           weights 2       NaN  ...       NaN         NaN         NaN
12         NaN            -1.01076  0.470262  ...       NaN         NaN    0.500000
13         NaN           -0.659433 -0.161928  ...       NaN         NaN         NaN
14         NaN            0.119704  0.521594  ...       NaN         NaN         NaN
15         NaN           -0.463218 -0.155967  ...       NaN         NaN         NaN
16         NaN                 NaN       NaN  ...       NaN         NaN         NaN
17         NaN       activations 2       NaN  ...       NaN         NaN         NaN
18         NaN             -5.7395  3.120573  ...       NaN         NaN         NaN
19         NaN                   0  3.120573  ...       NaN         NaN         NaN
20         NaN                 NaN       NaN  ...       NaN         NaN         NaN
21         NaN      weights output       NaN  ...       NaN         NaN         NaN
22         NaN            0.914665  0.612213  ... -0.058916         NaN    0.666667
23         NaN            0.372557  1.240222  ... -0.119353         NaN         NaN
24         NaN           -0.333152 -0.764842  ...  0.073605         NaN         NaN
25         NaN                 NaN       NaN  ...       NaN         NaN         NaN
26         NaN  activations output       NaN  ...       NaN         NaN         NaN
27         NaN            0.801546  3.041323  ... -0.096235         NaN         NaN
28         NaN             softmax       NaN  ...       NaN         NaN         NaN
29         NaN           0.0962349  0.903765  ...       NaN         NaN         NaN
30         NaN                rmse  0.136097  ...       NaN         NaN         NaN

[31 rows x 10 columns]